/* © Jérome Réaux : http://j-reaux.developpez.com - http://www.jerome-reaux-creations.fr */

/* --- THEME PRINCIPAL --- */
*							{ margin:0; padding:0; }
html, body 					{ margin:0; padding:0; width:100%; height:100%; }
html 							{ background:#dedede; font-family:Arial, sans-serif; color:#000000; font-size:10pt; text-align:left; text-decoration:none; }

/* --- textes, tables, ... --- */
h1, h2, h3, h4, h5, h6 		{ margin:0; padding:5px; text-align:center; }
h1 							{ font-size:1.8em; color:#AAAAAA; border:1px solid #AAA; margin:5px auto; letter-spacing:0.2em; text-align:center; 
							background:#eee; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; 
							}
h2 							{ font-size:1.6em; color:#21409A; margin:5px auto; font-weight:normal; text-align:center; }
h3 							{ font-size:1.4em; color:#21409A; text-align:center; font-weight:normal; text-transform:uppercase; }
h4 							{ font-size:1.2em; color:#21409A; text-align:left; font-weight:normal; text-transform:uppercase; }
p 							{ margin:0; padding:5px; text-align:left; }
ul 							{ margin-left:10px; list-style-position:inside; }
li 							{ list-style-position:inside; }
hr 							{ clear:both; width:100%; height:1px; color:#21409A; background-color:#21409A; border:0; margin:5px auto; padding:0; outline:none; }
a 							{ color:#21409A; text-decoration:none; }
a:hover 						{ color:#21409A; text-decoration:underline; }
table 						{ width:100%; border:2px solid #ccc; margin:0 auto; padding:0; background-color:#FFFFFF; }
th 							{ color:#21409A; padding:5px 1px; text-align:center; font-size:1.0em; border:1px solid #ccc; background-color:#DCE5F9; }
td 							{ text-align:center; padding:3px; border:1px solid #ccc; }

/* -------- IMAGE  -------- */
img 							{ border:none; }
a img 						{ border:none; }

/* ---- NEWS - page accueil ---- */
#newsPageAccueil h1 			{ font-size:1.6em; margin:5px auto 0 auto; color:#21409A; }
#newsPageAccueil h2 			{ font-size:1.4em; margin:0 auto 20px auto; color:#21409A; letter-spacing:0.1em; text-align:center; font-weight:normal; }
#newsPageAccueil h3 			{ font-size:1.2em; color:#21409A; text-align:center; font-weight:normal; text-transform:none;
							margin:10px auto; width:400px; height:20px; border:1px solid #ccc; background:#E4FFE1; 
							border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; 
							}
#newsPageAccueil h3:hover 	{ background:#B7FFAE; font-weight:bold; }
#newsPageAccueil h3:hover a 	{ text-decoration:none; }

#LienRetourAccueil			{ clear:both; display:inline-block; margin:15px auto; padding:5px 10px; 
							border:1px solid #ccc; font-weight:bold; color:#21409A; background:#E4FFE1;/*vert*/ 
							border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; 
							}
#LienRetourAccueil:hover	{ background:#B7FFAE;/*vert moyen*/ text-decoration:none; }

/* --- CONTENU --- */
#containerCentrer 			{ width:90%; min-width:1000px; margin:0 auto; padding:0; min-height:100%; text-align:center; }
/* Contenus */
.containerContenu 			{ width:100%; min-width:1000px; clear:both; margin:10px auto; padding:0; text-align:left; overflow:hidden; 
							border:1px solid #AAA; background:#eee; 
							border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; 
							}
#containerContenuGauche 		{ float:left; width:70%; min-width:700px; padding:10px 0; text-align:left; overflow:hidden; }
#containerContenuDroit 		{ float:right; width:28%; min-width:290px; padding:10px 0; text-align:left; overflow:hidden; }

.containerContenu h4  		{ clear:both; margin:5px; text-align:center; overflow:hidden; 
							border:1px solid #ccc; background:#DCE5F9;/*bleu clair*/ 
							border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; 
							}
.containerContenu p  			{ clear:both; margin:5px; text-align:left; overflow:hidden; 
							border:1px solid #ccc;  
							border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; 
							}
.containerContenu p:hover  	{ border:1px solid #aaa; background:#fff; }

#containerCopyright 			{ width:90%; min-width:1000px; margin:15px auto; padding:0; min-height:100%; text-align:center; color:#666; }

/* --------------------------- */